<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300"
          th:href="@{'https://fonts.googleapis.com/css?family=Roboto:400,500,700,300'}" rel="stylesheet"
          type="text/css">
    <!-- App Icons -->
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.ico}">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/admin/plugins/morris/morris.css}" type="text/css">
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/css/icons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/css/style.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script th:src="@{/sweetalert2/dist/sweetalert2.all.js}"></script>


</head>
<body>

<div class="super_container">
    <!--admin-header.html  that's here  -->
    <div th:replace="manager/layout/admin-header :: admin-header"></div>

    <div layout:fragment="admin-content">
        <section>
            <div class="wrapper">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-6 col-xl-4">
                            <div class="card text-center m-b-30">
                                <div class="mb-2 card-body text-muted">
                                    <h3 class="text-info" th:text="${monthlyRevenue}"></h3>
                                    Monthly Revenue
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card text-center m-b-30">
                                <a href="/manager/order/list">
                                    <div class="mb-2 card-body text-muted" >
                                        <h3 class="text-purple" th:if="${processingOrderDetail != null}" th:text="${processingOrderDetail}"></h3>
                                        <h3 class="text-purple" th:if="${processingOrderDetail == null}">No Waiting Order</h3>
                                        New Orders
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card text-center m-b-30">
                                <div class="mb-2 card-body text-muted">
                                    <h3 class="text-primary">289</h3>
                                    New Comments
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="row">

                        <div class="col-xl-12">
                            <div class="row" style="margin-bottom: 30px;">
                                <div class="col-md-3">
                                    <label>Thời gian của biểu đồ:</label>
                                </div>
                                <div id="reportrange"
                                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; border-radius: 3px;"
                                     class="col-md-6">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span></span> <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="card m-b-30">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#revenue">Revenue</a></li>
                                    <li><a data-toggle="tab" href="#menu1">Revenue by product</a></li>
                                    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                                    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="revenue" class="tab-pane fade in active" style="padding: 20px">
                                        <div id="linechart_material"></div>
                                    </div>
                                    <div id="menu1" class="tab-pane fade">
                                        <h1 style="text-align: center; padding: 50px">Revenue by product</h1>
                                        <div style="width: 100%; padding: 30px 33%" id="piechart"></div>
                                    </div>
                                    <div id="menu2" class="tab-pane fade">
                                        <h3>Menu 2</h3>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                            doloremque laudantium, totam rem aperiam.</p>
                                    </div>
                                    <div id="menu3" class="tab-pane fade">
                                        <h3>Menu 3</h3>
                                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                            dicta sunt explicabo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 m-b-30 header-title">Waiting Orders</h4>

                                <div class="table-responsive">
                                    <table class="table m-t-20 mb-0 table-vertical">

                                        <tbody>
                                        <tr th:if="${listOrders.size() > 0 && listOrders != null}" th:each="order : ${listOrders}">
                                            <td>
                                                <img th:src="@{/admin/images/users/avatar-2.jpg}" alt="user-image"
                                                     class="thumb-sm rounded-circle mr-2"/>
                                                <p th:text="${order.getCustomerInfo().getFullName()}"></p>
                                            </td>
                                            <td><i class="mdi mdi-checkbox-blank-circle text-warning"></i> Waiting</td>
                                            <td>
                                                <p th:text="${order.getTotalPrice()}"></p>
                                                <p class="m-0 text-muted font-14">Amount</p>
                                            </td>
                                            <td>
                                                <p th:text="${order.getCreatedAt()}"></p>
                                                <p class="m-0 text-muted font-14">Date</p>
                                            </td>
                                            <td>
                                                <a th:href="@{'/manager/order/'+${order.id}}" class="btn btn-success">Detail</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td th:if="${listOrders == null || listOrders.size() <= 0}" style="text-align: center"><h1>No Waiting Order</h1></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    <div class="col-xl-4">-->
<!--                        <div class="card m-b-30">-->
<!--                            <div class="card-body">-->
<!--                                <h4 class="mt-0 m-b-15 header-title">Recent Activity Feed</h4>-->

<!--                                <ol class="activity-feed mb-0">-->
<!--                                    <li class="feed-item">-->
<!--                                        <span class="date">Sep 25</span>-->
<!--                                        <span class="activity-text">Responded to need “Volunteer Activities”</span>-->
<!--                                    </li>-->

<!--                                    <li class="feed-item">-->
<!--                                        <span class="date">Sep 24</span>-->
<!--                                        <span class="activity-text">Added an interest “Volunteer Activities”</span>-->
<!--                                    </li>-->
<!--                                    <li class="feed-item">-->
<!--                                        <span class="date">Sep 23</span>-->
<!--                                        <span class="activity-text">Joined the group “Boardsmanship Forum”</span>-->
<!--                                    </li>-->
<!--                                    <li class="feed-item">-->
<!--                                        <span class="date">Sep 21</span>-->
<!--                                        <span class="activity-text">Responded to need “In-Kind Opportunity”</span>-->
<!--                                    </li>-->
<!--                                    <li class="feed-item">-->
<!--                                        <span class="date">Sep 18</span>-->
<!--                                        <span class="activity-text">Created need “Volunteer Activities”</span>-->
<!--                                    </li>-->
<!--                                    <li class="feed-item pb-2">-->
<!--                                        <span class="date">Sep 17</span>-->
<!--                                        <span class="activity-text">Attending the event “Some New Event”. Responded to needed</span>-->
<!--                                    </li>-->
<!--                                </ol>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


                </div>
                <!-- end row -->

            </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    </section>
    <div th:replace="manager/layout/admin-footer :: admin-footer"></div>


</div>
<!--admin-footer.html  that's here  -->

</div>
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin/js/modernizr.min.js}"></script>
<script th:src="@{/admin/js/waves.js}"></script>
<script th:src="@{/admin/js/jquery.slimscroll.js}"></script>
<script th:src="@{/admin/js/jquery.nicescroll.js}"></script>
<script th:src="@{/admin/js/jquery.scrollTo.min.js}"></script>

<!--<script th:src="@{/admin/plugins/morris/morris.min.js}"></script>-->
<script th:src="@{/admin/plugins/raphael/raphael-min.js}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


<script th:src="@{/admin/js/app.js}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--<script th:src="@{/admin/pages/dashboard.js}"></script>-->
<script th:src="@{/admin/js/dashboard.js}"></script>
</body>
</html>