<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
    <h1>This is the product list</h1>
    <ul>
        <li th:each="product: ${getAllProducts}">
            <span th:text="${product.getId()}"></span>
            <br/>
            <span th:text="${product.getPrice()}"></span>
            <br/>
            <span text><p>Price discount: </p></span>
            <span th:text="${product.getPriceDiscount()}"></span>
            <br/>
            <span th:text="${product.getName()}"></span>
            <br />
            <span th:text="${product.getArea()}"></span>
            <br/>
            <span th:text="${product.getContent()}"></span>
            <br/>
            <span th:text="${product.getDescription()}"></span>
            <br/>
            <span th:text="${product.getDestination()}"></span>
            <br/>
            <!--<img class="product-thumbnail" th:src="${product.thumbnail}" th:alt="${product.name}">-->
            <p>--------------------------------------</p>
        </li>
    </ul>
</body>
</html>