<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{manager/layout/admin-layout}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
</head>

<body>
    <section layout:fragment="admin-content">
        <div class="wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-10 center-block" style="margin: auto;">
                        <div class="card m-b-20">
                            <div class="card-body col-6 col-lg-offset-3">

                                <h4 class="mt-0 header-title">Create product</h4>

                                <form th:object="${album}" enctype="multipart/form-data" action="/album/create"
                                    method="post">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" th:field="${album.name}" class="form-control" required
                                            placeholder="Album name" />
                                        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea type="text" th:field="${album.description}" class="form-control" rows="5" required
                                                placeholder="Album Description" ></textarea>
                                        <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Images</label>
                                        <div class="uploaded_images"></div>
                                        <div id="input_images"></div>
                                        <button type="button" id="upload_widget" class="cloudinary-button">Upload files</button>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <button type="submit" class="btn btn-pink waves-effect waves-light">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->

        <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
        <script type="text/javascript">
            var myWidget = cloudinary.createUploadWidget({
                cloudName: 'phucvu',
                sources: ['local', 'url', 'instagram', 'facebook'],
                thumbnails: ".uploaded_images",
                uploadPreset: 'photoPlatForm'
            }, (error, result) => {
                if (!error && result && result.event === "success") {
                    var x = document.createElement("INPUT");
                    x.setAttribute("type", "hidden");
                    x.setAttribute("name", "imgUrls");
                    x.setAttribute("value", result.info.secure_url);
                    document.getElementById("input_images").appendChild(x);
                }
            }
            )

            document.getElementById("upload_widget").addEventListener("click", function () {
                myWidget.open();
            }, false);
        </script>
    </section>
</body>
</html>