<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Studio/Photographer</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="album : ${albums}">
            <td th:text="${album.name}"></td>
            <td th:text="${album.description}"></td>
            <td th:if="${album.studioInfo != null}" th:text="${album.getStudioInfo().fullName}"></td>
            <td th:if="${album.photographerInfo != null}" th:text="${album.getPhotographerInfo().fullName}"></td>
            <td>
                <a th:href="@{'/album/' + ${album.id}}">Edit</a>
                <a th:href="@{'/album/delete/' + ${album.id}}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>