<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300"
          th:href="@{'https://fonts.googleapis.com/css?family=Roboto:400,500,700,300'}" rel="stylesheet" type="text/css">
    <!-- App Icons -->
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.ico}">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" th:href="@{/admin/plugins/morris/morris.css}">
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/css/icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/css/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="super_container">
    <!--admin-header.html  that's here  -->
    <div th:replace="manager/layout/admin-header :: admin-header"></div>


    <section layout:fragment="admin-content">
        <div class="wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-8">
                        <div class="card m-b-20">
                            <div class="card-body">

                                <h2 class="mt-0 header-title">Edit Promotion</h2>
                                <form class="" th:action="@{'/promotion/edit/' + ${promotion.id}}" th:method="post" th:object="${promotion}">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" required placeholder="Type something" th:field="*{name}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div>
                                            <textarea required class="form-control" rows="5" th:field="*{description}"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Discount (in $)</label>
                                        <div>
                                            <input data-parsley-type="number" type="text"
                                                   class="form-control" required
                                                   placeholder="Enter only numbers"
                                                   step="0.1"
                                                   th:field="*{discount}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Expire At</label>
                                        <div>
                                            <input class="form-control" required type="datetime"
                                                   th:value="${#temporals.format(currentExpiredAt, 'MM/dd/yyyy HH:mm')}"
                                                   name="expiredAtString">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Select Products included in this promotion by Category</label>
                                        <div>
                                            <select class="custom-select" name="categoryId" required>
                                                <option th:each="category : ${categories}" th:value="${category.id}"
                                                        th:text="${category.name}" th:selected="${category.id==selectedCategory}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <div>
                                            <select class="custom-select" name="status" required>
                                                <option th:each="i: ${#numbers.sequence( 1, 3)}" th:value="${i}"
                                                        th:text="${i}" th:selected="${promotion.status==i}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <button type="submit" class="btn btn-pink waves-effect waves-light">
                                                Submit
                                            </button>
                                            <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->


            </div> <!-- end container -->
        </div>
    </section>
    <!--admin-footer.html  that's here  -->
    <div th:replace="manager/layout/admin-footer :: admin-footer"></div>
</div>
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin/js/modernizr.min.js}"></script>
<script th:src="@{/admin/js/waves.js}"></script>
<script th:src="@{/admin/js/jquery.slimscroll.js}"></script>
<script th:src="@{/admin/js/jquery.nicescroll.js}"></script>
<script th:src="@{/admin/js/jquery.scrollTo.min.js}"></script>

<script th:src="@{/admin/plugins/morris/morris.min.js}"></script>
<script th:src="@{/admin/plugins/raphael/raphael-min.js}"></script>
<!-- Parsley js -->
<script type="text/javascript" th:src="@{/admin/plugins/parsleyjs/parsley.min.js}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('form').parsley();
    });
</script>
<script th:src="@{/admin/js/app.js}"></script>
</body>
</html>