<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/css/icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/css/style.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="accountbg"></div>
    <div class="wrapper-page">

        <div class="card">
            <div class="card-block">

                <div class="ex-page-content text-center">
                    <h1 class="">500xxx</h1>
                    <h4 class="">Some other thing went down ...</h4><br>

                    <a class="btn btn-info mb-5 waves-effect waves-light" th:href="@{/}"><i class="mdi mdi-home"></i>
                        Back to Dashboard</a>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p>© 2018 Fonik. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
        </div>

    </div>
    <script th:src="@{/admin/js/jquery.min.js}"></script>
    <script th:src="@{/admin/js/bootstrap.bundle.min.js}"></script>
</body>

</html>