<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3>INTRODUCE</h3>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Policies</a></li>
                    <li><a href="#">Phone: 024.3577 8989</a></li>
                    <li><a href="#">Hotline: 0969275766</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6">
                <h3>TOP STUDIO</h3>
                <ul>
                    <li><a href="#">Tuart Wedding</a></li>
                    <li><a href="#">Aloha Studio</a></li>
                    <li><a href="#">Phiêu Media</a></li>
                    <li><a href="#">Queen Bridal</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6">
                <h3>HOT ALBUM</h3>
                <ul>
                    <li><a href="#">Album 1234</a></li>
                    <li><a href="#">Album 1234</a></li>
                    <li><a href="#">Album 1234</a></li>
                    <li><a href="#">Album 1234</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6">
                <h3>PRODUCT</h3>
                <ul>
                    <li><a href="#">Make up</a></li>
                    <li><a href="#">Wedding dress rental</a></li>
                    <li><a href="#">Prom dresses</a></li>
                </ul>
            </div>
        </div>
        <!-- End row -->
        <hr>
        <div class="row">
            <div class="col-sm-12 text-center">
                © TravelGuide 2016 - All Rights Reserved
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</footer>