<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" th:href="@{/less/style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300"
          th:href="@{'https://fonts.googleapis.com/css?family=Roboto:400,500,700,300'}" rel="stylesheet" type="text/css">
    <link href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"
          th:href="@{/css/style.css}" >
    <link href="../../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/icon_fonts/css/all_icons.min.css"
          th:href="@{/css/icon_fonts/css/all_icons.min.css}" >
    <link href="../../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
</head>
<body>
    <div class="super_container">
        <!--admin-header.html  that's here  -->
        <div th:replace="fragment/header :: header"></div>

        <div layout:fragment="content">lol</div>
        <!--admin-footer.html  that's here  -->
        <div th:replace="fragment/footer :: footer"></div>
    </div>
    <script th:src="@{/js/common_scripts_min.js}"></script>
    <script th:src="@{/assets/validate.js}"></script>
    <script th:src="@{/js/functions.js}"></script>

<!--    <script th:src="@{/js/infobox.js}"></script>-->
    <script th:src="@{/js/modernizr.js}"></script>
</body>
</html>