<!-- Slider -->
<div th:fragment="slider" xmlns:th="http://www.thymeleaf.org" id="full-slider-wrapper">
    <div id="layerslider" style="width:100%;height:667px;">
        <!-- first slide -->
        <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
            <img src="img/slides/slide_1.jpg" class="ls-bg" alt="Slide background" width="1600" height="667">
            <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;"
                data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">
                The most important info<br>
                on your Mobile during a visit</h3>
            <p class="ls-l slide_typo_2" style="top:55%; left:50%;"
               data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                Museum Guides / Directions / Tips&amp;info
            </p>
        </div>
        <!-- second slide -->
        <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:85;">
            <img src="img/slides/slide_2.jpg" class="ls-bg" alt="Slide background" width="1600" height="667">
            <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;"
                data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">
                Find easily<br>
                interesting place close to you</h3>
            <p class="ls-l slide_typo_2" style="top:55%; left:50%;"
               data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                Get Directions / Must see places / Eat&amp;Drink
            </p>
        </div>
        <!-- third slide -->
        <div class="ls-slide" data-ls="slidedelay:5000; transition2d:103;">
            <img src="img/slides/slide_3.jpg" class="ls-bg" alt="Slide background" width="1600" height="667">
            <h3 class="ls-l slide_typo" style="top: 48%; left: 50%;"
                data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">
                Discover fantastic places</h3>
            <p class="ls-l slide_typo_2" style="top:54%; left:50%;"
               data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                We offer a variety of services and options
            </p>
        </div>
        <div id="search_bar">
            <form>
                <div id="custom-search-input">
                    <input type="text" class=" search-query" placeholder="Search....">
                    <input type="submit" class="btn_search" value="submit">
                </div>
            </form>
        </div>
        <!-- End search_bar -->
    </div>
</div>
<!-- End layerslider -->