<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{owner/layout/admin-layout}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Detail Album</title>
</head>

<body>
    <section layout:fragment="admin-content">
        <div class="wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 center-block">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <th>Name</th>
                                            <td th:text="${album.name}"></td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td th:text="${album.description}"></td>
                                        </tr>
                                        <!-- <tr>
                                            <th>Studio</th>
                                            <td th:if="${album.studioInfo != null}"
                                                th:text="${album.studioInfo.fullName}"></td>
                                            <td th:unless="${album.studioInfo != null}"></td>
                                        </tr>
                                        <tr>
                                            <th>Photographer</th>
                                            <td th:if="${album.photographerInfo != null}"
                                                th:text="${album.photographerInfo.fullName}"></td>
                                            <td th:unless="${album.photographerInfo != null}"></td>
                                        </tr> -->
                                        <tr>
                                            <th>Images</th>
                                            <td>
                                                <div>
                                                    <div class="col-3" th:each="picture : ${album.getPictureSet()}"
                                                        style="float: left; margin: 10px 0;">
                                                        <img src="https://icdn.dantri.com.vn/thumb_w/640/2019/06/25/db-6-ddc-967-fab-42-bc-8-bf-99-ff-93-a-0-b-6-dae-1561437586300.jpeg"
                                                            alt="" style="width: 200px;">
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <td>
                                                <a type="button" class="btn btn-primary waves-effect waves-light"
                                                    th:href="@{/album/edit/{id}(id = ${album.id})}">Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </section>
</body>

</html>