<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300"
          th:href="@{'https://fonts.googleapis.com/css?family=Roboto:400,500,700,300'}" rel="stylesheet" type="text/css">

    <!-- App Icons -->
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.ico}">

    <!-- DataTables -->
    <link th:href="@{/admin/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link th:href="@{/admin/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />


    <link th:href="@{/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet">
    <link th:href="@{/admin/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <link th:href="@{/admin/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css}" rel="stylesheet" />

    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/css/icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/css/style.css}" rel="stylesheet" type="text/css" />

    <style>
        span.dtr-data {
            white-space: normal;
            overflow: hidden;
        }
    </style>

</head>

<body>
<div class="super_container">
    <!--admin-header.html  that's here  -->
    <div th:replace="manager/layout/admin-header :: admin-header"></div>

    <div layout:fragment="admin-content">
        <section layout:fragment="admin-content">

            <div class="wrapper">
                <div class="container-fluid">

                    <div class="col-12" style="float: none;">
                        <div class="card m-b-20">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Hoverable rows</h4>
                                <p class="text-muted m-b-30 font-14">
                                    Use <code>.table-striped</code> to add zebra-striping to any
                                    table row
                                    within the <code>&lt;tbody&gt;</code>.
                                </p>

                                <table id="datatable" class="table dt-responsive nowrap"
                                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Customer</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Payment Type</th>
                                        <th>Total Price</th>
                                        <th>Create At</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order,orderStat : ${orders}">
                                        <td th:text="${orderStat.index}"></td>
                                        <td th:text="${order.getCustomerInfo().getFullName()}"></td>
                                        <td th:text="${order.getCustomerEmail()}"></td>
                                        <td th:text="${order.getCustomerPhone()}"></td>
                                        <td th:text="${order.getPaymentType()}"></td>
                                        <td th:text="${order.getTotalPrice()}"></td>
                                        <td th:text="${order.getCreatedAt()}"></td>
                                        <td th:text="${order.getStatus()}"></td>
                                        <td><button>Detail</button></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div> <!-- end container -->
            </div>
            <!-- end wrapper -->
        </section>
    </div>
    <div th:replace="manager/layout/admin-footer :: admin-footer"></div>
</div>
<!-- Required datatable js -->
<script th:src="@{/admin/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/admin/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/admin/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/buttons.colVis.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/admin/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/responsive.bootstrap4.min.js}"></script>

<!-- Datatable init js -->
<script th:src="@{/admin/pages/datatables-list-product.init.js}"></script>
<script th:src="@{/admin/js/app.js}"></script>
</body>

</html>