<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/less/style.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{'https://fonts.googleapis.com/css?family=Roboto:400,500,700,300'}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/icon_fonts/css/all_icons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
</head>

<body id="login">
<!-- Header ================================================== -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <a th:href="@{index.html}" id="logo">
                    <!--                    <img th:src="@{/img/apple-touch-icon-57x57-precomposed.png}" width="170" height="30" alt="" data-retina="true">-->
                </a>
            </div>
            <div class="col-xs-8">
                <a href="/" class="btn_home pull-right"><i class="icon_house_alt"></i></a>
            </div>
        </div>
    </div>
</header>
<!-- End Header =============================================== -->

<div class="container margin_30">
    <div class="row">
        <div class="col-lg-2 col-sm-2"></div>
        <div class="col-lg-8 col-sm-8">
            <div class="box_login">
                <strong><i class="icon_lock-open_alt"></i>
                    <h3>Create Photographer Account</h3>
                </strong>
                <form id="customerRegisterForm" th:action="@{/register/partner/photographerInfo}" th:method="post" th:object="${photographerInfo}">
                    <input type="hidden" th:name="accountId" th:value="${accountId}">
                    <div class="form-group">
                        <input th:type="email" th:name="email" th:field="*{email}" class=" form-control required" placeholder="Email">
                        <span class="input-icon"><i class="icon_mail_alt"></i></span>
                    </div>
                    <div class="form-group">
                        <input th:type="text" th:name="fullname" th:field="*{fullName}" class=" form-control required" placeholder="Full Name">
                        <span class="input-icon"><i class="icon_pencil-edit"></i></span>
                    </div>
                    <div class="form-group">
                        <input th:type="text" th:name="address" th:field="*{address}" class=" form-control required" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <input th:type="number" th:name="phone" th:field="*{phone}" class=" form-control required" placeholder="Phone">
                    </div>
                    <!--                        <div class="form-group">-->
                    <!--                            <input th:type="date" th:name="birthday" th:field="*{birthday}" class=" form-control required">-->
                    <!--                        </div>-->
                    <div class="form-group">
                        <select th:name="gender" th:field="*{gender}" class="form-control" name="lang" id="lang">
                            <option value="0" selected disabled>---- Select Gender ----</option>
                            <option value="1">Man</option>
                            <option value="2">Woman</option>
                            <option value="3">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span><label th:text="Avatar"></label><button type="button" id="upload_widget" class="cloudinary-button">Upload files</button></span>
                        <div class="uploaded_images"></div>
                        <div id="input_images"></div>
                    </div>
                    <div class="form-group">
                            <textarea th:type="text" rows="4" cols="50" class=" form-control"
                                      placeholder="Description"></textarea>
                        <span class="input-icon"><i class="icon_pencil-edit"></i></span>
                    </div>
                    <div class="form-group">
                        <button class="button_login" style="margin:auto;">Create account</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2"></div>
    </div>
    <!-- End row -->
    <div class="row">
        <div class="col-md-12 text-center">
            © TravelGuide 2016 - All Rights Reserved
        </div>
    </div>
    <!-- End row -->
</div>
<!-- End container -->

<!-- COMMON SCRIPTS -->
<script th:src="@{/js/common_scripts_min.js}"></script>
<script th:src="@{/assets/validate.js}"></script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/modernizr.js}"></script>
<script th:src="@{/js/user/registerCustomerInfo.js}"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script type="text/javascript">
    var myWidget = cloudinary.createUploadWidget({
        cloudName: 'phucvu',
        sources: ['local', 'url', 'instagram', 'facebook'],
        thumbnails: ".uploaded_images",
        uploadPreset: 'photoPlatForm',
        multiple: false
    }, (error, result) => {
        if (!error && result && result.event === "success") {
        var x = document.createElement("INPUT");
        x.setAttribute("type", "hidden");
        x.setAttribute("name", "avatar");
        x.setAttribute("value", result.info.secure_url);
        document.getElementById("input_images").appendChild(x);
    }
    }
    )

    document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
    }, false);
</script>
</body>

</html>