@charset "UTF-8";
/* Your custom styles */
.about {
    padding-top: 90px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}
section.about, section.portfolio, section.blog{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}
.about-text {
    display: table;
    height: 407px;
}
.gray-bg {
    margin-top: 90px;
    background: #f5f5f5;
}
.section-title {
    text-align: center;
    padding: 90px 0 60px 0;
}
.section-title h2 {
    font-size: 23px;
    font-weight: bold;
}
.portfolio_filter {
    text-align: center;
    padding-top: 15px;
}
.portfolio_filter ul {
    margin: auto;
    display: inline-block;
}
.portfolio_filter ul li {
    font-size: 14px;
    color: #777777;
    font-family: 'Poppins', sans-serif;
    float: left;
    margin-right: 15px;
    list-style: none;
    cursor: pointer;
}
.select-cat {
    color: #000 !important;
}
.single_item {
    margin-bottom: 30px;
}
.single_item img {
    width: 100%;
    transition: all ease 0.3s;
}
.blog h1 {
    font-size: 20px;
    line-height: 24px;
    margin: 25px 0 13px 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}
.blog-content p {
    font-size: 13px;
    color: #777777;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}
.blog-info {
    font-size: 12px;
    font-weight: 400;
    color: #b9b9b9;
    margin-top: 20px;
    display: inline-block;
}
.blog .site-button {
    margin: 0 auto 60px;
    display: table;
}
a.site-button {
    border: 2px solid #000;
    color: #000;
}
.subtitle {
    font-size: 22px;
    line-height: 24px;
    margin: 25px 0 30px 0;
    color: #000;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.post-comment {
    float: left;
}
ul.post-comment{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul.post-comment li img {
    width: 15%;
    float: left;
}
ul.post-comment li .comment-info {
    float: left;
    width: 85%;
    padding-left: 15px;
    margin-top: 15px;
}
ul.post-comment li h3 {
    float: left;
    font-size: 14px;
}
ul.post-comment li a {
    float: right;
    font-size: 11px;
    font-weight: bold;
    color: #000;
}
ul.post-comment li span {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #c5c5c5;
    margin-top: 3px;
}
ul.post-comment li p {
    font-size: 12px;
    line-height: 20px;
    float: left;
    margin-top: 6px;
}
.send-message {
    margin-top: 60px !important;
}
.send-message .subtitle {
    margin-bottom: 30px;
}
.contact-form textarea {
    width: 100%;
    border: 0;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding: 20px 0 0 10px;
    height: 119px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-form .site-button {
    margin: auto;
    margin-top: 30px;
    display: block;
}
.site-button {
    padding: 10px 50px;
    font-size: 12px;
    background: none;
    border: 2px solid;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    transition: all ease 0.3s;
}
.fas{
    font-weight: 900;
}
.fas:before{
    font-weight: 900;
}
.btn-back-home {
    padding: 10px 20px !important;
    font-size: 1.5rem;
    color: #fff !important;
    border: 2px solid #ff9c61;
    background-color: #ff9c61;
    border-radius: 50px;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 15px #ff9c61;
}

.btn-back-home:hover {
    cursor: pointer;
    background-color: transparent;
}

.bg-error{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: linear-gradient(#ae3082, #2a1f6f);
}
.error-info{
    position: relative;
    margin-top: 10%;
}

.error-title{
    font-size: 98px;
    font-weight: 700;
    line-height: 150px;
    color: white;
}

.error-message{
    color: white;
}

.planet{
    position: absolute;
    z-index: 10;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-sizing: border-box;
}

.planet::before, .planet::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.planet::before{
    width: 70px;
    height: 70px;
}

.planet::after {
    width: 60px;
    height: 60px;
}

.planet1 {
    box-shadow: 0px 0px 30px #a3358c;
    bottom: -60%;
    left: 30%;
    border: 5px solid #a3358c;
    background-color: #cf3684;
}

.planet1::before {
    background-color: #fd8f5d;
}

.planet1::after {
    background-color: #ffdf70;
}

.planet2 {
    box-shadow: 0px 0px 30px #1383df;
    left: 160px;
    border: 5px solid #1383df;
    background-color: #08abf3;
}

.planet2::before {
    background-color: #11c1f1;
}

.planet2::after {
    background-color: #22e5f1;
}

.planet3 {
    box-shadow: 0px 0px 30px #7a7afe;
    bottom: -60px;
    right: 140px;
    border: 5px solid #7a7afe;
    background-color: #9a82ff;
}

.planet3::before {
    background-color: #b588ff;
}

.planet3::after {
    background-color: #d491ff;
}

#upload_widget{
    margin-left: 10px;
    padding: 5px !important;
}

label.error{
    color: red;
    margin: 5px 12px;
}

.login-register{
    text-align: center;
}