/* FIX CSS HOME */
/* Album - img_container_grid_home */
.img_wrapper_grid{
	background-color:#000;
	margin:0;
	margin-bottom:30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.img_container_grid_home{
	position:relative;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index:0;
	width:100%;
	height:100%;
}
.img_container_grid_home img {
	-webkit-transform:scale(1);
	transform:scale(1);
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	opacity:1;
	object-fit: cover;
}
.img_container_grid_home a:hover img {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	opacity:0.8;
}
.short_info_grid_home {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	padding:25px 15px 15px 20px;
	color:#fff;
	font-size:13px;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.short_info_grid_home h3{
	font-size:20px;
	color:#fff;
	margin:0;
	padding:0;
}
.short_info_grid_home em{
	font-style:normal;
	opacity:0.8;
	display:block;
}
.img_container_grid_home a:hover .short_info_grid_home{
    padding-bottom:30px;
}
.img_container_grid_home a:hover .content_info_home{
	display: inline-block;
    opacity:1;
    bottom:0;
	transition: all 0.2s ease-in ;
}

.content_info_home{
    position:relative;
	padding-top:220px;
	color:white;
	bottom:-50px;
	opacity:0;
	transition: all 0.2s ease-in ;	
}