<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/sweetalert2/dist/sweetalert2.css}">
    <style>
        .checkout-content {
            display: none;
        }
    </style>
</head>
<body>

<th:block layout:fragment="content">
    <div id="position" style="margin-top: 60px;">
        <div class="container">
            <ul style="margin-top: 10px">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Check out</a>
                </li>
            </ul>
        </div>
    </div>
    <!--     End position -->

    <!-- BLOG -->
    <div style="margin: 20px;">
        <section class="section-checkout">
            <div class="container">
                <div class="checkout">

                    <div class="row">
                        <form th:if="${orderProduct != null and orderDetails != null and orderDetails.size() > 0}"
                              th:object="${orderProduct}" id="formform">
                            <div class="col-md-6">
                                <div class="checkout_head">
                                    <h3>BILLING DETAILS</h3>
                                </div>

                                <div class="checkout_form">

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label>Name</label>
                                            <input th:field="*{customerName}" type="text" class="field-text">
                                        </div>

                                        <div class="col-xs-6 col-sm-6">
                                            <label>Email Address*</label>
                                            <input th:field="*{customerEmail}" type="text" class="field-text">
                                        </div>

                                        <div class="col-xs-6 col-sm-6">
                                            <label>Phone*</label>
                                            <input th:field="*{customerPhone}" type="text" class="field-text">
                                        </div>

                                        <div class="col-xs-12 col-sm-12">
                                            <label>Notes</label>
                                            <textarea th:field="*{note}" class="field-textarea"
                                                      placeholder="Notes about your order, eg. special notes for studio/photographer"></textarea>
                                        </div>
                                        <div>
                                            <input type="hidden" th:value="${accountId}" name="accountId">
                                            <input type="hidden" th:field="*{id}">
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="checkout_head checkout_margin">
                                    <h3>Your payment details</h3>
                                </div>

                                <div class="checkout_form checkout_margin">

                                    <div class="checkout_cart">

                                        <!-- ITEM -->
                                        <div class="cart-item" th:each="orderDetail : ${orderDetails}">
                                            <div th:if="${orderDetail.getStatus() == 3 || orderDetail.getStatus() == 0}">
                                                <input type="hidden" th:value="${orderDetail.product.getId()}"
                                                       class="cart-item-id">
                                                <div class="img">
                                                    <a th:href="@{/product/{id}(id = ${orderDetail.product.getId()})}"><img
                                                            th:src="${orderDetail.product.thumbnail}" alt=""></a>
                                                </div>
                                                <div class="text">
                                                    <a class="cart-item-name"
                                                       th:href="@{/product/{id}(id = ${orderDetail.product.getId()})}"
                                                       th:text="${orderDetail.product.name}"></a>
                                                    <p>
                                                        <span th:text="${orderDetail.product.photographerInfo != null ? orderDetail.product.photographerInfo.fullName : orderDetail.product.studioInfo.fullName}"></span>
                                                        <b class="cart-item-price"
                                                           th:with="price=${orderDetail.currentPrice}"
                                                           th:text="${#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')}">(price)</b>
                                                    </p>
                                                </div>
                                                <a class="remove" th:data-product-id="${orderDetail.product.getId()}" th:data-order-id="${orderDetail.orderProduct.getId()}" th:if="${orderDetail.getStatus() != 3}"><i class="fa fa-close"></i></a>
                                            </div>

                                            <div th:if="${orderDetail.getStatus() == 1}" class="declined-item">
                                                <p style="color: red" th:text="${'Sorry, ' + orderDetail.product.getName() + '  has been declined by merchant'}"></p>
                                                <a href="#" class="remove" th:data-product-id="${orderDetail.product.getId()}" th:data-order-id="${orderDetail.orderProduct.getId()}"><i class="fa fa-close"></i></a>
                                            </div>

                                            <div th:if="${orderDetail.getStatus() == 2}" class="unconfirmed-item">
                                                <p style="color: lightskyblue" th:text="${'Sorry, ' + orderDetail.product.getName() + '  has yet been confirmed by merchant'}"></p>
                                                <a href="#" class="remove" th:data-product-id="${orderDetail.product.getId()}" th:data-order-id="${orderDetail.orderProduct.getId()}"><i class="fa fa-close"></i></a>
                                            </div>
                                        </div>
                                        <!-- END / ITEM -->

                                    </div>

                                    <div class="checkout_cartinfo">
                                        <p><span>Order Total:</span> <span class="color-red order-total"
                                                                           th:with="totalPrice=${totalPrice}"
                                                                           th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')}">(total price)</span>
                                        </p>
                                    </div>

                                    <div class="checkout_option checkout-content">
                                        <div class="col-xs-6 col-sm-6">
                                            <label>Enter your promo code</label>
                                            <input id="promoCode" name="promoCode" type="text" class="field-text">
                                        </div>
                                        <ul>
                                            <li>
                                                <input type="radio" value="1" class="radio payment-methor"
                                                       name="payment_type">
                                                <h6>Paypal</h6>
                                                <p>Make your payment directly into our paypal account. Please use your
                                                    Order ID as the payment reference. Your order won’t be shipped until
                                                    the funds have cleared in our account.</p>
                                                <div class="mt-2 hidden" id="paypal-button"></div>
                                            </li>
                                            <li>
                                                <input type="radio" value="2" class="radio payment-methor"
                                                       name="payment_type">
                                                <h6>Cheque Payment</h6>
                                            </li>
                                            <li>
                                                <input type="radio" value="3" class="radio payment-methor"
                                                       name="payment_type">
                                                <h6>Credit Card</h6>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="checkout_btn">
                                        <button type="submit" id="confirm"
                                                class="button confirm-content">
                                            Confirm
                                        </button>
                                        <button type="submit" id="back" class="button checkout-content"
                                                onclick="window.location.href='/'">
                                            Back to home
                                        </button>
                                        <button type="submit" id="cancel" onclick="cancelSubmit(event)"
                                                class="button checkout-content">
                                            Cancel
                                        </button>
                                        <button type="submit" id="checkout" onclick="checkoutSubmit(event)"
                                                class="button checkout-content">
                                            Check out
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <div th:if="${orderProduct == null and orderDetails == null}">
                            <h1 th:text="${message}"></h1>
                            <button class="button" onclick="window.location.href='/'">
                                Back to home
                            </button>
                        </div>

<!--                        <div th:if="${orderDetails.size() == 0}">-->
<!--                            <h1 th:text="${message}"></h1>-->
<!--                            <button class="button" onclick="window.location.href='http://pose.media/'">-->
<!--                                Back to home-->
<!--                            </button>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END / BLOG -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.11/js/bootstrap-select.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>
    <script th:src="@{/sweetalert2/dist/sweetalert2.all.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script th:src="@{/js/user/checkout.js}"></script>
</th:block>

<!--    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>-->

</body>
</html>