<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home1</title>
    <link href="/css/ion.rangeSlider.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fix-template.css}">
    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <style>
        .studio-main{
            max-height: 440px;
        }
        .studio-sub{
            max-height: 150px;
        }

        .text-limit{
            display: -webkit-box;
            max-height: 3.2rem;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 2;
        }
    </style>
</head>

<body>
    <th:block layout:fragment="content">
        <div th:replace="fragment/slider :: slider"></div>

        <!-- Chúng tôi làm được gì cho các bạn -->
        <div class="container margin_60_30">
            <div class="row">
                <div class="col-md-6 text">
                    <div class="text1">
                        <h3>Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem sem, venenatis eget
                            lacus
                            id,
                            lobortis placerat orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            Suspendisse
                            ornare commodo ipsum, id tempor quam venenatis vitae. Proin nibh nunc, rutrum non dignissim
                            gravida,
                            porttitor eget diam.</p>
                    </div>
                </div>
                <div class="col-md-6 text">
                    <div class="text1">
                        <h3>Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem sem, venenatis eget
                            lacus
                            id,
                            lobortis placerat orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            Suspendisse
                            ornare commodo ipsum, id tempor quam venenatis vitae. Proin nibh nunc, rutrum non dignissim
                            gravida,
                            porttitor eget diam.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Top các album được đánh giá cao nhất ... -->
        <div class="pattern_dots">
            <div class="container margin_60_45">
                <div class="main_title">
                    <h2><strong>Top Album</strong> được đánh giá cao nhất</h2>
                    <p>
                        Ne his postulant posidonium adversarium. Ius tollit tamquam indoctum ea, cu quo equidem perfecto
                        adipiscing. Eu mel aliquid delenit. Recteque laboramus ea est, te qui eirmod similique.
                    </p>
                    <span><em></em></span>
                </div>
                <!-- End main_title -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="img_wrapper_grid" th:each="album,albumStat: ${rateAlbum}" th:if="${albumStat.index == 0}">
                            <div class="ribbon">
                                <span>Popular</span>
                            </div>
                            <div class="img_container_grid_home">
                                <a th:href="@{/customer/album/{id}(id = ${album.getId()})}">
                                    <img th:src="${album.getThumbnail()}" width="800" height="480" class="img-responsive"
                                         alt="" th:classappend="${albumStat.index == 0} ? 'studio-main' : 'studio-sub'">
                                    <div class="short_info_grid_home">
                                        <div class="content_info_home">
                                            <small><strong th:text="${album.getName()}"></strong></small>
                                            <h3>Tên Studio hoặc photographer</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img_wrapper_grid" th:each="album,albumStat: ${rateAlbum}" th:if="${albumStat.index > 0 and albumStat.index < 3}">
                            <div class="ribbon">
                                <span>Popular</span>
                            </div>
                            <div class="img_container_grid_home">
                                <a th:href="@{/customer/album/{id}(id = ${album.getId()})}">
                                    <img src="https://9mobi.vn/cf/images/2015/03/nkk/anh-dep-1.jpg" width="800" height="480" class="img-responsive"
                                         alt="" th:classappend="${albumStat.index == 0} ? 'studio-main' : 'studio-sub'">
                                    <div class="short_info_grid_home">
                                        <div class="content_info_home">
                                            <small><strong th:text="${album.getName()}"></strong></small>
                                            <h3>Tên Studio hoặc photographer</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" th:each="album,albumStat: ${rateAlbum}" th:if="${albumStat.index >=3 and albumStat.index < 6}">
                        <div class="img_wrapper_grid">
                            <div class="ribbon">
                                <span>Popular</span>
                            </div>
                            <div class="img_container_grid_home">
                                <a th:href="@{/customer/album/{id}(id = ${album.getId()})}">
                                    <img src="https://9mobi.vn/cf/images/2015/03/nkk/anh-dep-1.jpg" width="800" height="480" class="img-responsive"
                                         alt="" th:classappend="${albumStat.index == 0} ? 'studio-main' : 'studio-sub'">
                                    <div class="short_info_grid_home">
                                        <div class="content_info_home">
                                            <small><strong th:text="${album.getName()}"></strong></small>
                                            <h3>Tên Studio hoặc photographer</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" th:each="album,albumStat: ${rateAlbum}" th:if="${albumStat.index >= 6 and albumStat.index < 9}">
                        <div class="img_wrapper_grid">
                            <div class="ribbon">
                                <span>Popular</span>
                            </div>
                            <div class="img_container_grid_home">
                                <a th:href="@{/customer/album/{id}(id = ${album.getId()})}">
                                    <img src="https://9mobi.vn/cf/images/2015/03/nkk/anh-dep-1.jpg" width="800" height="480" class="img-responsive"
                                         alt="" th:classappend="${albumStat.index == 0} ? 'studio-main' : 'studio-sub'">
                                    <div class="short_info_grid_home">
                                        <div class="content_info_home">
                                            <small><strong th:text="${album.getName()}"></strong></small>
                                            <h3>Tên Studio hoặc photographer</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End row -->
            </div>
            <!-- End container -->
        </div>

        <!-- Top các dịch vụ hot -->
        <div class="container margin_60_30">
            <div class="main_title">
                <h2><strong>Top các dịch vụ hot</strong></h2>
                <p>
                    Ne his postulant posidonium adversarium. Ius tollit tamquam indoctum ea, cu quo equidem perfecto
                    adipiscing. Eu mel aliquid delenit. Recteque laboramus ea est, te qui eirmod similique.
                </p>
                <span><em></em></span>
            </div>

            <div class="box_cat">
                <div class="col-md-4 col-sm-6" th:each="product,productStat: ${rateProduct}"
                    th:if="${productStat.index < 6}">
                    <a th:href="@{/product/{id}(id = ${product.getId()})}">
                        <img th:src="${product.getThumbnail()}" alt="" style="height: 140px;">
                        <h3 class="text-limit" th:text="${product.getName()}" ></h3>
                        <p class="text-limit" th:text="${product.getContent()}"></p>
                    </a>
                </div>
            </div>
            <!-- End row -->
        </div>

        <!-- Top các studio nổi tiếng -->
        <div class="container margin_60_45">
            <div class="main_title">
                <h2><strong>Top Studio</strong> nổi tiếng</h2>
                <p>
                    Ne his postulant posidonium adversarium. Ius tollit tamquam indoctum ea, cu quo equidem perfecto
                    adipiscing. Eu mel aliquid delenit. Recteque laboramus ea est, te qui eirmod similique.
                </p>
                <span><em></em></span>
            </div>
            <!-- End main_title -->

            <div class="row">
                <div class="col-md-3">
                    <div class="img_wrapper_grid" th:each="studio,studioStat: ${rateStudios}"
                        th:if="${studioStat.index > 0 and studioStat.index < 4}">
                        <div class="ribbon">
                            <span>Popular</span>
                        </div>
                        <div class="img_container_grid">
                            <a th:href="@{/studio/{id}(id = ${studio.getId()})}">
                                <img th:src="${studio.getAvatar()}" width="800" height="468" class="img-responsive" alt=""
                                    style="max-height: 150px;">
                                <div class="short_info_grid">
                                    <small><strong>Duration: 60 min.</strong></small>
                                    <h3>Santa Maria Novella</h3>
                                    <em>Monuments - Attractions</em>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9" style="margin: auto;">
                    <div class="img_wrapper_grid" th:each="studio,studioStat: ${rateStudios}"
                         th:if="${studioStat.index == 0}">
                        <div class="ribbon">
                            <span>Popular</span>
                        </div>
                        <div class="img_container_grid">
                            <a th:href="@{/studio/{id}(id = ${studio.getId()})}">
                                <img th:src="${studio.getAvatar()}" width="800" height="468" class="img-responsive" alt="">
                                <div class="short_info_grid">
                                    <small><strong>Duration: 60 min.</strong></small>
                                    <h3>Santa Maria Novella</h3>
                                    <em>Monuments - Attractions</em>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End row -->
        </div>

        <!-- Top các photographer được yêu thích -->
        <div class="pattern_dots">
            <div class="container margin_60_45">
                <div class="main_title">
                    <h2><strong>Top photographer</strong> được yêu thích</h2>
                    <p>
                        Ne his postulant posidonium adversarium. Ius tollit tamquam indoctum ea, cu quo equidem perfecto
                        adipiscing. Eu mel aliquid delenit. Recteque laboramus ea est, te qui eirmod similique.
                    </p>
                    <span><em></em></span>
                </div>
                <div class="col-md-4" th:each="photographer, photographerStat : ${ratePhotographers}"
                    th:if="${photographerStat.index < 6}">
                    <div class="img_wrapper_grid">
                        <div class="ribbon top">
                            <span>Top rated</span>
                        </div>
                        <div class="img_container_grid">
                            <a th:href="@{/photographer/{id}(id = ${photographer.getId()})}">
                                <img th:src="${photographer.getAvatar()}" width="800" height="468" class="img-responsive" alt="">
                                <div class="short_info_grid">
                                    <small><strong>From 30$</strong></small>
                                    <h3>Da Domenico</h3>
                                    <em>Restaurant</em>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End img_wrapper_grid -->
                </div>
            </div>
            <!-- End container -->
        </div>

        <!-- Top các địa điểm hot -->
        <div class="parallax_window_home bright">
            <div class="container">
                <div class="main_title">
                    <h3><strong>Địa điểm </strong>chụp ảnh hot </h3>
                </div>
                <div class="row features add_bottom_45">
                    <div class="col-sm-4">
                        <div id="feat_2">
                            <a href="about.html" class="bt_info">Read more</a>
                            <h3>Find places</h3>
                            <p>
                                The most interesting place close to you. Attractions, Museums, Restaurant...
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="feat_1">
                            <a href="about.html" class="bt_info">Read more</a>
                            <h3>Get info&amp;tips</h3>
                            <p>
                                The most important tips on your Mobile during a visit....online and offline.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="feat_3">
                            <a href="about.html" class="bt_info">Read more</a>
                            <h3>Read and listen</h3>
                            <p>
                                The most important info about a place reviewed by Quality Authors.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="feat_2">
                            <a href="about.html" class="bt_info">Read more</a>
                            <h3>Find places</h3>
                            <p>
                                The most interesting place close to you. Attractions, Museums, Restaurant...
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="feat_1">
                            <a href="about.html" class="bt_info">Read more</a>
                            <h3>Get info&amp;tips</h3>
                            <p>
                                The most important tips on your Mobile during a visit....online and offline.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="feat_3">
                            <a href="about.html" class="bt_info">Read more</a>
                            <h3>Read and listen</h3>
                            <p>
                                The most important info about a place reviewed by Quality Authors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/common_scripts_min.js}"></script>
    </th:block>

</body>

</html>