<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home1</title>
    <link href="/css/ion.rangeSlider.min.css" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="content">
    <div th:replace="fragment/slider :: slider"></div>
    <div class="bg_white">
        <div class="container margin_30_30">
            <h3 class="second_title" style="margin-top: 1em">Recommend Services</h3>
            <div class="carousel box_cat small">
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span>Recommend</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span>Popular</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span>Popular</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span>Popular</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span>Popular</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span>Popular</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span>Popular</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span>Popular</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span>Popular</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Carousel -->
        </div>
        <!-- End Container -->
    </div>
    <div class="bg_white">
        <div class="container margin_30_30">
            <h3 class="second_title" style="margin-top: 1em">Discount Services</h3>
            <div class="carousel box_cat small">
                <div th:each="product : ${discountProducts}" class="img_wrapper">
                    <div class="ribbon">
                        <span th:text="${100 - product.priceDiscount/product.price * 100 + '%'}" style="background: red !important;">20%</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a th:href="${'/product/' + product.id}">
                            <img th:src="${product.getThumbnail()}" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em th:text="${product.name}">1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- End Carousel -->
        </div>
        <!-- End Container -->
    </div>
    <div class="bg_white">
        <div class="container margin_30_30">
            <h3 class="second_title" style="margin-top: 1em">Top Services</h3>
            <div class="carousel box_cat small">
                <div th:each="product : ${rateProduct}" class="img_wrapper">
                    <div class="ribbon top">
                        <span>Top Rated</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a th:href="${'/product/' + product.id}">
                            <img th:src="${product.getThumbnail()}" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em th:text="${product.name}">1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Carousel -->
        </div>
        <!-- End Container -->
    </div>
    <div class="bg_white">
        <div class="container margin_30_30">
            <h3 class="second_title" style="margin-top: 1em">Best Seller Services</h3>
            <div class="carousel box_cat small">
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span style="background: #00ff5c">Best Seller</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span style="background: #00ff5c">Best Seller</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span style="background: #00ff5c">Best Seller</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span style="background: #00ff5c">Best Seller</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span style="background: #00ff5c">Best Seller</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="img_wrapper">
                    <div class="ribbon">
                        <span style="background: #00ff5c">Best Seller</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a href="#">
                            <img src="img/events_list_1.jpg" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em>1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Carousel -->
        </div>
        <!-- End Container -->
    </div>
    <div class="bg_white">
        <div class="container margin_30_30">
            <h3 class="second_title" style="margin-top: 1em">Top Studio</h3>
            <div class="carousel box_cat small">
                <div th:each="studio : ${rateStudios}" class="img_wrapper">
                    <div class="ribbon">
                        <span th:text="${studio.averageRate}" style="background: #ff00c7">Best Seller</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a th:href="${'/studio/'+ studio.id}">
                            <img th:src="${studio.avatar}" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em th:text="${studio.fullName}">1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Carousel -->
        </div>
        <!-- End Container -->
    </div>
    <div class="bg_white">
        <div class="container margin_30_30">
            <h3 class="second_title" style="margin-top: 1em">Top Photographer</h3>
            <div class="carousel box_cat small">
                <div th:each="pgtInfo : ${ratePhotographers}" class="img_wrapper">
                    <div class="ribbon">
                        <span th:text="${pgtInfo.averageRate}" style="background: #ff00c7">Best Seller</span>
                    </div>
                    <!-- End tools i-->
                    <div class="img_container" style="overflow: visible !important;">
                        <a th:href="${'/photographer/' + pgtInfo.id}">
                            <img th:src="${pgtInfo.avatar}" width="800" height="533" class="" alt="">
                            <div class="short_info">
                                <em th:text="${pgtInfo.fullName}">1Architectural Buildings</em>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Carousel -->
        </div>
        <!-- End Container -->
    </div>
    <div class="container margin_30_30 fix_mobile">
        <div class="main_title">
            <h2><strong>Recently Searched</strong></h2>
            <p>

            </p>
            <span><em></em></span>
        </div>

        <div class="row box_cat">
            <div class="col-md-3 col-sm-6">
                <a href="florence-must-see-map-listing.html">
                    <span>24</span>
                    <!--                    <i class=" icon_set_1_icon-1"></i>-->
                    <img src="https://tadiha.com/pictures/picfullsizes/2017/05/15/ppr1494858892.jpg" alt="">
                    <h3>Đà Nẵng</h3>
                    <p>
                        Thành phố đáng sống
                    </p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="florence-event-map-listing.html">
                    <span>34</span>
                    <!--                    <i class="icon_set_1_icon-41"></i>-->
                    <img src="https://sites.google.com/site/quoctugiammotgocnhinlichsu/_/rsrc/1415094610223/home/van%20mieu%20quoc%20tu%20giam%20%2813%29.jpg"
                         alt="">

                    <h3>Hà Nội</h3>
                    <p>
                        Cổ kính, trang nghiêm
                    </p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="florence-hotels-map-listing.html">
                    <span>12</span>
                    <!--                    <i class="icon_set_1_icon-6"></i>-->
                    <img src="https://www.thietbichamcong.com.vn/media/news/2709_01.jpg" alt="">
                    <h3>TP Hồ Chí Minh </h3>
                    <p>
                        Sôi động, náo nhiệt
                    </p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="florence-restaurants-map-listing.html">
                    <span>43</span>
                    <!--                    <i class="icon_set_1_icon-58"></i>-->
                    <img src="https://datviettour.com.vn/uploads/images/tay-nguyen/da-lat/hinh-danh-thang/dalat-sunset-1.jpg"
                         alt="">
                    <h3>Đà Lạt</h3>
                    <p>
                        Bình yên, sâu lắng
                    </p>
                </a>
            </div>
        </div>
        <!-- End row -->

        <div class="row box_cat">
            <div class="col-md-3 col-sm-6">
                <a href="florence-bars-map-listing.html">
                    <span>24</span>
                    <!--                    <i class="icon_set_1_icon-20"></i>-->
                    <img src="https://wikidulich.org/wp-content/uploads/2019/08/1553224096_sapa-5.jpg" alt="">
                    <h3>Sapa</h3>
                    <p>
                        Cảnh đẹp của thiên nhiên hùng vĩ
                    </p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="florence-shops-map-listing.html">
                    <span>34</span>
                    <!--                    <i class="icon_set_1_icon-50"></i>-->
                    <img src="https://img.rnudah.com/images/12/124926044969715.jpg" alt="">
                    <h3>Phú Quốc</h3>
                    <p>
                        Chụp ảnh cũng những ngày nghỉ dưỡng
                    </p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="florence-transports.html">
                    <span>43</span>
                    <!--                    <i class="icon_set_1_icon-25"></i>-->
                    <img src="https://nupakachi.com/wp-content/uploads/2019/05/58443283_1588004744666622_3335159521159938048_o-650x432.jpg"
                         alt="">
                    <h3>Studio</h3>
                    <p>
                        Concept của những nghệ sĩ tài năng
                    </p>
                </a>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <script src="/js/common_scripts_min.js"></script>
    <script src="/js/ion.rangeSlider.min.js"></script>

    <script src="/js/theia-sticky-sidebar.min.js"></script>
    <script>
        'use strict';
        jQuery('#sidebar').theiaStickySidebar({
            additionalMarginTop: 80
        });

        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 30,
            max: 180,
            from: 60,
            to: 130,
            type: 'double',
            step: 1,
            prefix: "Min. ",
            grid: false
        });

        $('.carousel').owlCarousel({
            items: 1,
            loop: true,
            autoplay: false,
            smartSpeed: 300,
            responsiveClass: true,
            responsive: {
                320: {
                    items: 2,
                    margin: 10,
                },
                1000: {
                    items: 6,
                    margin: 10,
                    nav: false
                }
            }
        });

        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, {
                size: 'small'
            });
        });
    </script>
</th:block>

</body>
</html>