<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Search</title>
    <style>
        .text-limit {
            display: -webkit-box;
            max-height: 3.2rem;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 2;
        }
    </style>
</head>

<body>
    <th:block layout:fragment="content">
        <div style="margin-top: 100px"></div>
        <div style="text-align: center"
            th:if="${albumList.size() == 0 && studioInfoList.size() == 0 && photographerInfoList.size() == 0 && productList.size() == 0}">
            <p><b style="font-size: larger">Nothing to show with your keyword</b></p>
        </div>
        <div th:if="${studioInfoList.size() > 0}" class="container margin_30_30">
            <h2 class="second_title" style="margin-top: 1em">Studio</h2>
            <div class="box_cat">
                <div class="col-md-4 col-sm-6" th:each="studioInfo : ${studioInfoList}">
                    <a th:href="${'/studio/' + studioInfo.id}">
                        <img th:src="${studioInfo.avatar}" alt="" style="height: 170px;object-fit: cover;">
                        <h3 class="text-limit" th:text="${studioInfo.getFullName()}"></h3>
                        <p class="text-limit" th:text="${studioInfo.getDescription()}"></p>
                    </a>
                </div>
            </div>
        </div>

        <div th:if="${photographerInfoList.size() > 0}" class="container margin_30_30">
            <h2 class="second_title" style="margin-top: 1em">Photographer</h2>
            <div class="box_cat">
                <div class="col-md-4 col-sm-6" th:each="photographerInfo : ${photographerInfoList}">
                    <a th:href="${'/photographer/' + photographerInfo.id}">
                        <img th:src="${photographerInfo.avatar}" alt="" style="height: 170px;object-fit: cover;">
                        <h3 class="text-limit" th:text="${photographerInfo.getFullName()}"></h3>
                        <p class="text-limit" th:text="${photographerInfo.getDescription()}"></p>
                    </a>
                </div>
            </div>
        </div>

        <div th:if="${productList.size() > 0}" class="container margin_30_30">
            <h2 class="second_title" style="margin-top: 1em">Product</h2>
            <div class="box_cat">
                <div class="col-md-4 col-sm-6" th:each="product : ${productList}">
                    <a th:href="${'/product/' + product.id}">
                        <img th:src="${product.thumbnail}" alt="" style="height: 170px;object-fit: cover;">
                        <h3 class="text-limit" th:text="${product.getName()}"></h3>
                        <div th:if="${product.getStudioInfo() != null}">
                            <h4 class="text-limit" th:text="${product.getStudioInfo().getFullName()}"></h4>
                        </div>
                        <div th:if="${product.getPhotographerInfo() != null}">
                            <h4 class="text-limit" th:text="${product.getPhotographerInfo().getFullName()}"></h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div th:if="${albumList.size() > 0}" class="container margin_30_30">
            <h2 class="second_title" style="margin-top: 1em">Album</h2>
            <div class="box_cat">
                <div class="col-md-4 col-sm-6" th:each="album : ${albumList}">
                    <a th:href="${'/album/' + album.id}">
                        <img th:src="${album.thumbnail}" alt="" style="height: 170px;object-fit: cover;">
                        <h3 class="text-limit" th:text="${album.getName()}"></h3>
                        <div th:if="${album.getStudioInfo() != null}">
                            <h4 class="text-limit" th:text="${album.getStudioInfo().getFullName()}"></h4>
                        </div>
                        <div th:if="${album.getPhotographerInfo() != null}">
                            <h4 class="text-limit" th:text="${album.getPhotographerInfo().getFullName()}"></h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </th:block>

</body>

</html>