<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/less/style.css}">
    <link rel="stylesheet" type="text/css"
        th:href="@{'https://fonts.googleapis.com/css?family=Roboto:400,500,700,300'}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/icon_fonts/css/all_icons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/login.css}">
</head>

<body id="login">
    <!-- Header ================================================== -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                   
                </div>
                <div class="col-xs-8">
                    <a href="/" class="btn_home pull-right"><i class="icon_house_alt"></i></a>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </header>
    <!-- End Header =============================================== -->

    <div class="container margin_30">
        <div class="row">
            <div class="col-md-12">
                <p><img src="../../static/img/bg_login.png" width="377" height="150" alt="" class="img-responsive"
                        style="margin:auto;">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-3"></div>
            <div class="col-lg-4 col-sm-6">
                <div class="box_login">
                    <strong><i class="icon_key_alt"></i>
                        <h3>Please Login</h3>
                    </strong>
                    <div th:if="${param.error}" style="color: red">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" style="color: red">
                        You have been logged out.
                    </div>
                    <form th:action="@{/account/login}" method="post">
                        <div class="form-group">
                            <input type="text" name="username" class=" form-control " placeholder="Username">
                            <span class="input-icon"><i class="icon_pencil-edit"></i></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class=" form-control" placeholder="Password">
                            <span class="input-icon"><i class="icon_lock_alt"></i></span>
                        </div>
                        <div class="form-group">
                            <p class="small">
                                <a href="#">Forgot Password?</a>
                            </p>
                            <button class="button_login" style="margin:auto;">Log in</button>
                        </div>

                        <a th:href="@{/register}" class="login-register"><h5>Haven't had an account yet? <span style="color: lightskyblue">Register now!</span></h5></a>
                        <a th:href="@{/register/partner/account}" class="login-register"><h5><span style="color: lightskyblue">Or become our partner?</span></h5></a>
                    </form>
                </div>
            </div>
        </div>
        <!-- End row -->
        <div class="row">
            <div class="col-md-12 text-center">
                © TravelGuide 2016 - All Rights Reserved
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->

    <!-- COMMON SCRIPTS -->
    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/js/common_scripts_min.js}"></script>
    <script th:src="@{/assets/validate.js}"></script>
    <script th:src="@{/js/functions.js}"></script>
</body>

</html>