<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{owner/layout/admin-layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirm</title>
</head>
<body>
<section layout:fragment="admin-content">
    <div class="wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6">
                    <div class="card m-b-20">
                        <form>
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Order detail</h4>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Thumbnail</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderDetail, iter : ${orderDetailList}" th:data-id="${orderDetail.getId()}" class="orderDetail-item">
                                        <th scope="row" th:text="${iter.index + 1}"></th>
                                        <td th:text="${orderDetail.product.name}">Mark</td>
                                        <td><img th:src="${orderDetail.product.thumbnail}" alt="${product.name}" style="width: 100px;"></td>
                                        <td th:if="${orderDetail.getStatus() != 3}"><a href="#" class="btn btn-success waves-effect waves-light btn-confirm">Confirm</a></td>
                                        <td th:if="${orderDetail.getStatus() == 3}"><a href="#" class="btn btn-success waves-effect waves-light btn-confirm"><i class="dripicons-checkmark"></i></a></td>
                                        <td th:if="${orderDetail.getStatus() != 1}"><a href="#" class="btn btn-info waves-effect waves-light btn-cancel">Cancel</a></td>
                                        <td th:if="${orderDetail.getStatus() == 1}"><a href="#" class="btn btn-info waves-effect waves-light btn-cancel"><i class="dripicons-trash"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="card m-b-20 card-body float-right">
                                <div class="card-body">
                                    <a href="#" class="btn btn-success waves-effect waves-light btn-confirm-all">Confirm all</a>
                                    <a href="#" class="btn btn-info waves-effect waves-light btn-cancel-all">Cancel all</a>
                                    <a th:href="@{'owner/order/list'}" class="btn btn-danger waves-effect waves-light">Back to list order</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> <!-- end col -->
                <div class="col-lg-6">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 card-title">Customer info</h4>
                            <p class="card-text" th:text="${orderProduct.customerInfo.getFullName()}"></p>
                        </div>
                    </div>
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 card-title">Customer email</h4>
                            <p class="card-text" th:text="${orderProduct.customerEmail}"></p>
                        </div>
                    </div>
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 card-title">Customer phone</h4>
                            <p class="card-text" th:text="${orderProduct.customerPhone}"></p>
                        </div>
                    </div>
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 card-title">Total price</h4>
                            <p class="card-text" th:text="'$' + ${orderProduct.totalPrice}"></p>
                        </div>
                    </div>
                </div> <!-- end col -->



            </div> <!-- end row -->

        </div> <!-- end container -->
    </div>
    <script th:src="@{/admin/js/confirmOrder.js}"></script>
</section>
</body>
</html>