<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Product</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300"
          th:href="@{'https://fonts.googleapis.com/css?family=Roboto:400,500,700,300'}" rel="stylesheet" type="text/css">

    <!-- App Icons -->
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.ico}">

    <!-- DataTables -->
    <link th:href="@{/admin/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link th:href="@{/admin/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />


    <link th:href="@{/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet">
    <link th:href="@{/admin/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <link th:href="@{/admin/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css}" rel="stylesheet" />

    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/css/icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/admin/css/style.css}" rel="stylesheet" type="text/css" />

    <style>
        span.dtr-data {
            white-space: normal;
            overflow: hidden;
        }
    </style>

</head>
<body>
    <div class="super_container">
        <!--admin-header.html  that's here  -->
        <div th:replace="manager/layout/admin-header :: admin-header"></div>

        <div layout:fragment="admin-content">
            <section layout:fragment="admin-content">

                <div class="wrapper">
                    <div class="container-fluid">

                        <div class="row ">
                            <div class="col-12" style="float: none;">
                                <div class="card m-b-20">
                                    <div class="card-body">

                                        <div class="">
                                            <div class="card m-b-20">
                                                <div class="card-body">
                                                    <h4 class="mt-0 header-title">List product</h4>
                                                    <p class="text-muted m-b-30 font-14">
                                                        All products from all studio/photographer.
                                                    </p>

                                                    <table id="datatable"
                                                           class="table  dt-responsive nowrap"
                                                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Studio/Photographer</th>
                                                            <th>Name</th>

                                                            <th>Price</th>
                                                            <th>Discount</th>
                                                            <th>Area</th>
                                                            <th>Destination</th>
                                                            <th>Thumbnail</th>
                                                            <th>Detail</th>
                                                            <th>Edit</th>

                                                            <th>Description</th>
                                                            <th>Content</th>
                                                            <th>Category</th>
                                                            <th>Album</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="product: ${products}">
                                                            <th scope="row" th:text="${product.id}"></th>
                                                            <td th:if="${product.studioInfo != null}" th:text="${product.studioInfo.fullName}">Mark</td>
                                                            <td th:if="${product.photographerInfo != null}" th:text="${product.photographerInfo.fullName}">Mark</td>
                                                            <td th:if="${product.photographerInfo == null && product.studioInfo == null}">None</td>
                                                            <td th:text="${product.name}"></td>

                                                            <td th:text="${product.price}"></td>
                                                            <td th:text="${product.priceDiscount}"></td>
                                                            <td th:text="${product.area}"></td>
                                                            <td th:text="${product.destination}"></td>
                                                            <td>
                                                                <img th:src="${product.thumbnail}" style="height: 50px;">
                                                            </td>
                                                            <td><a th:href="@{/product/admin/{id}(id = ${product.id})}">Detail</a></td>
                                                            <td><a th:href="@{/product/admin/edit/{id}(id = ${product.id})}">Edit</a></td>

                                                            <td th:text="${product.description}"></td>
                                                            <td th:text="${product.content}"></td>
                                                            <td th:text="${product.category.name}"></td>
                                                            <td th:text="${product.album.name}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div><!-- end col -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end container -->
                </div>
                <!-- end wrapper -->
            </section>
        </div>
        <div th:replace="manager/layout/admin-footer :: admin-footer"></div>
    </div>

    <script th:src="@{/admin/js/jquery.min.js}"></script>
    <script th:src="@{/admin/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/admin/js/modernizr.min.js}"></script>
    <script th:src="@{/admin/js/waves.js}"></script>
    <script th:src="@{/admin/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/admin/js/jquery.nicescroll.js}"></script>
    <script th:src="@{/admin/js/jquery.scrollTo.min.js}"></script>

    <!-- Required datatable js -->
    <script th:src="@{/admin/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/admin/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
    <!-- Buttons examples -->
    <script th:src="@{/admin/plugins/datatables/dataTables.buttons.min.js}"></script>
    <script th:src="@{/admin/plugins/datatables/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/admin/plugins/datatables/jszip.min.js}"></script>
    <script th:src="@{/admin/plugins/datatables/pdfmake.min.js}"></script>
    <script th:src="@{/admin/plugins/datatables/vfs_fonts.js}"></script>
    <script th:src="@{/admin/plugins/datatables/buttons.html5.min.js}"></script>
    <script th:src="@{/admin/plugins/datatables/buttons.print.min.js}"></script>
    <script th:src="@{/admin/plugins/datatables/buttons.colVis.min.js}"></script>
    <!-- Responsive examples -->
    <script th:src="@{/admin/plugins/datatables/dataTables.responsive.min.js}"></script>
    <script th:src="@{/admin/plugins/datatables/responsive.bootstrap4.min.js}"></script>

    <!-- Datatable init js -->
    <script th:src="@{/admin/pages/datatables-list-product.init.js}"></script>
    <script th:src="@{/admin/js/app.js}"></script>
</body>
</html>