<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="../../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>
<section layout:fragment="content" style="margin-top: 50px; margin-bottom: 50px;">
<!--    th:text="${photographerInfo.area}-->
    <section class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 about-image wow fadeInUp" data-wow-delay="0.4s">
                    <img th:src="${photographerInfo.avatar}" alt="">
                </div>
                <div class="col-md-6 about-text wow fadeInUp" data-wow-delay="0.8s">
                    <div class="out">
                        <h2 th:text="${photographerInfo.fullName}"></h2>
                        <br/>
                        <div th:if="${photographerInfo.getStudioInfo() != null}">
                            <p>
                                Thuộc studio: <span th:text="${photographerInfo.getStudioInfo().getFullName()}"></span>
                            </p>
                        </div>
                        <div th:unless="${photographerInfo.getStudioInfo() != null}">
                        </div>

                        <p th:text="${photographerInfo.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--PORTFOLIO-->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <div class="section-title">
                <h2>ALBUMS</h2>
<!--                Lọc album theo category -->
<!--                <div class="portfolio_filter">-->
<!--                    <ul>-->
<!--                        <li class="select-cat" data-filter="*">All</li>-->
<!--                        <li data-filter=".web-design" th:each="album : ${photographerInfo.albumSet}" th:text="album.name"></li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
            <!--Portfolio Items-->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="isotope_items row">
                        <!-- Item -->
                        <a th:each="album : ${photographerInfo.albumSet}" th:href="@{'/album/' + ${album.id}}"
                           class="single_item link aplication col-md-4 col-sm-6 wow fadeInUp"
                           data-wow-delay="0.6s">
                            <img th:src="${album.thumbnail}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- BLOG -->
    <section class="blog" id="blog">
        <div class="container-fluid gray-bg">
            <div class="container">
                <div class="section-title">
                    <h2>PRODUCTS</h2>
                </div>
                <!-- Blogs -->
                <div class="row">
                    <a th:each="product, productStat : ${photographerInfo.productSet}" th:href="@{'/product/' + ${product.id}}"
                       th:unless="${productStat.index > 3}"
                       class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-image">
                            <img th:src="${product.thumbnail}">
                        </div>
                        <h1 th:text="${product.name}"></h1>
                        <p th:text="${product.description}"></p>
                    </a>
                </div>
                <a th:href="@{'/photographer/' + ${photographerInfo.id} + '/allProducts'}" class="site-button"> READ MORE</a>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="blog-single col-md-8 col-md-offset-2">
            <!-- Post Comments -->
            <div class="col-md-12">
                <h3 class="subtitle top45 bottom15">Comments</h3>
                <ul class="post-comment">
                    <li th:each="comment, commentStat : ${photographerInfo.commentSet}" th:unless="${commentStat.index > 5}">
                        <img th:src="${comment.customerInfo.avatar}"  alt="">
                        <div class="comment-info">
                            <h3 th:text="${comment.customerInfo.fullName}"></h3>
                            <!--                    <span>Sep 26, 2016 at 14:35</span>-->
                            <p th:text="${comment.content}"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Write Message -->
            <form class="col-md-12 contact-form send-message"
                  th:action="@{/api/comment/save}" th:method="post">
                <h3 class="subtitle top45 bottom30">Leave a Comment</h3>
                <div class="row">
                    <!--Message-->
                    <div class="col-md-12">
                        <textarea name="content" placeholder="Message" rows="8"></textarea>
                    </div>
                </div>
                <input id="con_submit" class="site-button" type="submit" value="SEND A MESSAGE">

            </form>
        </div>
    </div>

</section>
    <script th:src="@{/js/jquery-2.2.4.min.js}"></script><!-- jQuery library -->
    <script th:src="@{/js/wow.js}"></script>
    <script th:src="@{/js/stephenshtml/isotope.pkgd.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/stephenshtml/main.js}"></script>
</body>
</html>