<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <link href="/css/ion.rangeSlider.min.css" rel="stylesheet">
    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div style="margin-top: 100px"></div>
    <div class="card m-b-20">
        <div class="card-body">

            <h2 class="mt-0 header-title">Order Product Number: #<b th:text="${orderProduct.id}"></b></h2>
            <p class="text-muted m-b-30 font-14">
                We show you the info detail of this <b>Order</b> that you have.
                <code>Checkin'</code> table below
            </p>
            <div style="margin-top: 100px"></div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Product Owner</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="oDs : ${orderProduct.orderDetailSet}">
                    <th scope="row" th:text="${oDs.id}">1</th>
                    <td th:text="${oDs.product.name}">Mark</td>
                    <td th:text="${oDs.currentPrice}">Otto</td>
                    <th:block th:if="${oDs.product.studioInfo != null}">
                        <td th:text="${oDs.product.studioInfo.fullName}">200000</td>
                    </th:block>
                    <th:block th:if="${oDs.product.photographerInfo != null}">
                        <td th:text="${oDs.product.photographerInfo.fullName}">200000</td>
                    </th:block>

                    <th:block th:switch="${oDs.status}">
                        <td th:case="0">New</td>
                        <td th:case="1">Cancelled</td>
                        <td th:case="2">Pending</td>
                        <td th:case="3">Accept</td>
                        <td th:case="*">Unknown</td>
                    </th:block>
                    <td th:if="${oDs.status == 2}"><a th:href="${'#'}"><button class="btn btn-danger waves-effect waves-light">Cancel</button></a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div style="margin-top: 200px"></div>
    <!-- End container -->
    <script src="/js/common_scripts_min.js"></script>
    <script src="/js/ion.rangeSlider.min.js"></script>

    <script src="/js/theia-sticky-sidebar.min.js"></script>
    <script>
        'use strict';
        jQuery('#sidebar').theiaStickySidebar({
            additionalMarginTop: 80
        });

        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 30,
            max: 180,
            from: 60,
            to: 130,
            type: 'double',
            step: 1,
            prefix: "Min. ",
            grid: false
        });

        $('.carousel').owlCarousel({
            items: 1,
            loop: true,
            autoplay: false,
            smartSpeed: 300,
            responsiveClass: true,
            responsive: {
                320: {
                    items: 2,
                    margin: 10,
                },
                1000: {
                    items: 6,
                    margin: 10,
                    nav: false
                }
            }
        });

        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, {
                size: 'small'
            });
        });
    </script>
</th:block>

</body>
</html>