<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Product detail</h1>
<div>
    <div>
        Area: <span th:text="${product.area}"></span>
    </div>
    <div>
        Content: <span th:text="${product.content}"></span>
    </div>
    <div>
        Description: <span th:text="${product.description}"></span>
    </div>
    <div>
        Destination: <span th:text="${product.destination}"></span>
    </div>
    <div>
        Name: <span th:text="${product.name}"></span>
    </div>
    <div>
        Price: <span th:text="${product.price}"></span>
    </div>
    <div>
        Price discount: <span th:text="${product.priceDiscount}"></span>
    </div>
    <div th:if="${product.studioInfo != null}">
        Studio: <span th:text="${product.studioInfo.fullName}"></span>
    </div>
    <div th:if="${product.photographerInfo != null}">
        Photographer: <span th:text="${product.photographerInfo.fullName}"></span>
    </div>
    <div>
        Album: <span th:text="${product.album.name}"></span>
    </div>
    <div>
        Category: <span th:text="${product.category.name}"></span>
    </div>
    <div>
        Image: <img th:src="${product.thumbnail}" style="width: 200px;">
    </div>
    <div>
        <button class="btn-add-cart" th:id="${'add-cart-' + product.id}"> Add product to cart</button>
    </div>
</div>
    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/js/user/shoppingCart.js}"></script>
</body>
</html>