<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>


</head>
<body>

<section layout:fragment="content">

    <!-- SPECIFIC CSS -->
    <link th:href="@{/css/ion.rangeSlider.min.css}" rel="stylesheet">

    <div id="position" style="margin-top: 60px;">
        <div class="container">
            <ul>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Category</a>
                </li>
                <li>List product</li>
            </ul>
        </div>
    </div>
    <!-- End position -->

    <div class="container margin_60_30">
        <div class="row">
            <aside class="col-md-3 col-md-push-9" id="sidebar"
                   style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar"
                     style="padding-top: 0px; padding-bottom: 1px; position: absolute; top: 0px; width: 263px;">
                    <div id="filters_col">
                        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters </a>
                        <div class="collapse" id="collapseFilters">
                            <div class="filter_type">
                                <h6>Category</h6>
                                <ul th:each="category: ${categories}">
                                    <li>
                                        <label th:text="${category.name}"></label>
                                        <input type="checkbox" class="js-switch">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--End collapse -->
                    </div>
                    <!--End filters col-->
                </div>
                <!--End sticky -->
            </aside>
            <!--End aside -->

            <div class="col-md-9 col-md-pull-3" >
                <div class="strip_list wow fadeIn" data-wow-delay="0.1s"
                     th:each="product : ${products}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="img_wrapper">th
                                <div class="ribbon">
                                    <span th:text="${product.priceDiscount}">Popular</span>
                                </div>
                                <div class="tools_i">
                                    <form action="http://maps.google.com/maps" method="get" target="_blank" class="directions_list">
                                        <input type="hidden" name="daddr" value="43.773460, 11.255985">
                                        <button type="submit" class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"></span>
                                            <span class="tooltip-content">Directions</span>
                                        </button>
                                    </form>
                                    <div class="wishlist">
                                        <a class="tooltip_styled tooltip-effect-4"><span class="tooltip-item"></span>
                                            <div class="tooltip-content">Bookmark</div>
                                        </a>
                                    </div>
                                </div>
                                <!-- End tools i-->
                                <div class="img_container">
                                    <a th:href="@{/product/{id}(id = ${product.id})}">
                                        <img th:src="${product.thumbnail}" width="800" height="533" class="img-responsive" alt="">
                                        <div class="short_info">
                                            <small th:text="${product.price}"></small>
                                            <h3 th:text="${product.destination}"></h3>
                                            <em th:text="${product.area}"></em>
                                            <div class="score_wp">Superb
                                                <div id="score_1" class="score" data-value="7.5"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--End img_wrapper-->
                        </div>
                        <div class="col-sm-6">
                            <div class="desc">
                                <h4 th:text="${product.name}"></h4>
                                <p th:text="${product.description}"></p>
                                <p><a th:href="@{/product/{id}(id = ${product.id})}" class="button small">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--End row -->
                </div>
                <!--End strip -->
            </div>
            <!-- End col lg 9 -->
        </div>
        <!-- End Row-->
    </div>
    <!-- End container -->

    <div th:if="${products.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/product/list(size=${products.size}, page=${pageNumber})}"
           th:text="${pageNumber}" th:class="${pageNumber == products.number + 1} ? active"></a>
    </div>

    <div class="bg_white">
        <div class="container margin_60_30">
            <h3 class="second_title">View other categories</h3>
            <div class="carousel box_cat small" >
                <div th:each="category: ${categories}">
                    <a th:href="@{/category/{id}(id = ${category.id})}">
                        <i class=" icon_set_1_icon-1"></i>
                        <h3 th:text="${category.name}"></h3>
                    </a>
                </div>
            </div>
            <!-- End Carousel -->
        </div>
        <!-- End Container -->
    </div>
    <!-- End bg_white -->

    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/assets/validate.js}"></script>
    <script th:src="@{/js/functions.js}"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script th:src="@{/js/raphael-2.1.4.min.js}"></script>
    <script th:src="@{/js/justgage.min.js}"></script>
    <script th:src="@{/js/score.js}"></script>
    <script th:src="@{/js/ion.rangeSlider.js}"></script>
    <script th:src="@{/js/ion.rangeSlider.min.js}"></script>
    <script th:src="@{/js/switchery.min.js}"></script>

    <script th:src="@{/js/theia-sticky-sidebar.js}"></script>
    <script th:src="@{/js/theia-sticky-sidebar.min.js}"></script>
    <script th:src="@{/js/owl.carousel.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>

    <script>
        'use strict';
        jQuery('#sidebar').theiaStickySidebar({
            additionalMarginTop: 80
        });

        $('.carousel').owlCarousel({
            items: 1,
            loop: true,
            autoplay: false,
            smartSpeed: 300,
            responsiveClass: true,
            responsive: {
                320: {
                    items: 2,
                    margin: 10,
                },
                1000: {
                    items: 6,
                    margin: 10,
                    nav: false
                }
            }
        });

        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, {
                size: 'small'
            });
        });
    </script>

</section>
</body>
</html>