<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" th:href="@{/less/style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300"
          th:href="@{'https://fonts.googleapis.com/css?family=Roboto:400,500,700,300'}" rel="stylesheet" type="text/css">
    <link href="../../../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../../../static/css/style.css"
          th:href="@{/css/style.css}" >
    <link href="../../../../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../../static/css/icon_fonts/css/all_icons.min.css"
          th:href="@{/css/icon_fonts/css/all_icons.min.css}" >
    <link href="../../../../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>
<div class="super_container">
    <!--admin-header.html  that's here  -->
    <div th:replace="fragment/header :: header"></div>

    <div layout:fragment="content">
        <section layout:fragment="content">

            <!-- Stylesheets -->
            <link rel="stylesheet" th:href="@{/studio-photographer/css/bootstrap.css}"/>
            <!--    <link rel="stylesheet" th:href="@{/studio-photographer/css/reset.css}"/>-->
            <link rel="stylesheet" th:href="@{/studio-photographer/css/style-detail.css}"/>
            <link rel="stylesheet" th:href="@{/studio-photographer/css/animate.css}"/>
            <link rel="stylesheet" th:href="@{/studio-photographer/css/magnific-popup.css}"/>

            <!-- Google Web fonts -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

            <!-- Font icons -->
            <!--    <link rel="stylesheet" th:href="@{/studio-photographer/icon-fonts/font-awesome-4.5.0/css/font-awesome.min.css}"/>-->
            <!--    <link rel="stylesheet" th:href="@{/studio-photographer/icon-fonts/essential-regular-fonts/essential-icons.css}"/>-->

            <section class="about" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 about-image wow fadeInUp" data-wow-delay="0.4s">
                            <img th:src="@{/studio-photographer/images/about.jpg}" alt="">
                        </div>
                        <div class="col-md-6 about-text wow fadeInUp" data-wow-delay="0.8s">
                            <div class="out">
                                <h2 th:text="${studioInfo.fullName}">(Name / Full name) I am Dynamic and Creative</h2>
                                <br/>
                                <p th:text="${studioInfo.description}">
                                    (Description)
                                    Impossible considered invitation him men instrument saw celebrated unpleasant. Put rest and must set kind next many near nay. He exquisite continued explained middleton am. Voice hours young woody has she think equal. Estate moment he at on wonder at season little. Six garden result summer set family esteem nay estate.
                                    <br/><br/>
                                    Her extensive perceived may any sincerity extremity. Indeed add rather may pretty see. Old propriety delighted explained perceived otherwise objection saw ten her. Doubt merit sir the right these alone keeps. By sometimes intention smallness he northward.
                                </p>
                            </div>
                        </div>
                    </div>
                </div> <!-- Container end -->
            </section>

            <!--PORTFOLIO-->
            <section class="portfolio" id="portfolio">
                <div class="container">
                    <div class="section-title">
                        <h2>CATEGORY</h2>
                        <div class="portfolio_filter">
                            <ul>
                                <li class="select-cat" data-filter="*">All</li>
                                <li data-filter=".web-design">Web Design</li>
                                <li data-filter=".aplication">Applications</li>
                                <li data-filter=".development">Development</li>
                            </ul>
                        </div>
                    </div>
                    <!--Portfolio Items-->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="isotope_items row">
                                <!-- Item -->
                                <a href="https://www.youtube.com/watch?v=M-M3rdL_WLQ" class="popup-youtube single_item link development col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                    <img th:src="@{/studio-photographer/images/work-1.jpg}" alt="">
                                </a>
                                <!-- Item -->
                                <a href="/images/work-2.jpg" class="single_item link aplication col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                                    <img th:src="@{/studio-photographer/images/work-2.jpg}" alt="">
                                </a>
                                <!-- Item -->
                                <a href="/images/work-3.jpg" class="single_item link development col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
                                    <img th:src="@{/studio-photographer/images/work-3.jpg}" alt="">
                                </a>
                                <!-- Item -->
                                <a href="/images/work-4.jpg" class="single_item link web-design col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="1.2s">
                                    <img th:src="@{/studio-photographer/images/work-4.jpg}" alt="">
                                </a>
                                <!-- Item -->
                                <a href="/images/work-5.jpg" class="single_item link aplication col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="1.5s">
                                    <img th:src="@{/studio-photographer/images/work-5.jpg}" alt="">
                                </a>
                                <!-- Item -->
                                <a href="/images/work-6.jpg" class="single_item link aplication col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="1.8s">
                                    <img th:src="@{/studio-photographer/images/work-6.jpg}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- BLOG -->
            <section class="blog" id="blog">
                <div class="container-fluid gray-bg">
                    <div class="container">
                        <div class="section-title">
                            <h2>OUR PRODUCT</h2>
                            <p>Out believe has request not how comfort evident. Up delight cousins we feeling <br/> minutes. Genius has looked end piqued spring. </p>
                        </div>
                        <!-- Blogs -->
                        <div class="row">
                            <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.4s">
                                <div class="blog-image">
                                    <img th:src="@{/studio-photographer/images/blog-1.png}">
                                </div>
                                <h1>By spite about do of do allow blush</h1>
                                <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
                                <span class="blog-info">Larry Stark - 7 September 2016 </span>
                            </a>
                            <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.6s">
                                <div class="blog-image">
                                    <img th:src="@{/studio-photographer/images/blog-2.png}">
                                </div>
                                <h1>Two Before Arrow Not Relied</h1>
                                <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
                                <span class="blog-info">Larry Stark - 7 September 2016 </span>
                            </a>
                            <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.8s">
                                <div class="blog-image">
                                    <img th:src="@{/studio-photographer/images/blog-3.png}">
                                </div>
                                <h1>Behind Sooner Dining so Window </h1>
                                <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
                                <span class="blog-info">Larry Stark - 7 September 2016 </span>
                            </a>
                        </div>
                        <a href="blog-page.html" class="site-button"> (List) READ MORE</a>
                    </div>
                </div>
            </section>

            <!-- CONTACT -->
            <section class="contact" id="contact">
                <div class="container content">
                    <div class="row">
                        <div class="blog-single col-md-8 col-md-offset-2">

                            <!-- Post Comments -->
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h2>COMMENT</h2>
                                    <p>Out believe has request not how comfort evident. Up delight cousins we feeling <br/> minutes. Genius has looked end piqued spring. </p>
                                </div>
                                <ul class="post-comment">
                                    <li>
                                        <img th:src="@{/studio-photographer/images/person-1.jpg}" alt="">
                                        <div class="comment-info">
                                            <h3>Mary R. Peterson</h3>
                                            <a href="#"> Reply </a>
                                            <span>Sep 26, 2016 at 14:35</span>
                                            <p>Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. </p>
                                        </div>
                                    </li>
                                    <li class="reply">
                                        <img th:src="@{/studio-photographer/images/person-2.jpg}" alt="">
                                        <div class="comment-info">
                                            <h3>Mary R. Peterson</h3>
                                            <a href="#"> Reply </a>
                                            <span>Sep 26, 2016 at 14:35</span>
                                            <p>Unpleasant astonished an diminution up partiality. Noisy an their of meant. Death means up civil do an offer wound of. Called square an in afraid direct. </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img th:src="@{/studio-photographer/images/person-3.jpg}" alt="">
                                        <div class="comment-info">
                                            <h3>Geoffrey B. Ashley</h3>
                                            <a href="#"> Reply </a>
                                            <span>Sep 26, 2016 at 14:35</span>
                                            <p>Agreed joy vanity regret met may ladies oppose who. Mile fail as left as hard eyes. Meet made call in mean four year it to.  </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Write Message -->
<!--                            <form class="col-md-12 contact-form send-message">-->
<!--                                <h3 class="subtitle top45 bottom30">Leave a Reply</h3>-->
<!--                                <div class="row">-->
<!--                                    &lt;!&ndash;Comment&ndash;&gt;-->
<!--                                    <div class="col-md-12">-->
<!--                                        <textarea name="con_message" placeholder="Comment" rows="8"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <input id="con_submit" class="site-button" type="submit" value="SEND A MESSAGE">-->
<!--                            </form>-->

                        </div>
                    </div>
                </div>

            </section>
        </section>
    </div>
    <!--admin-footer.html  that's here  -->
    <div th:replace="fragment/footer :: footer"></div>
</div>

<!-- Javascripts -->
<script th:src="@{/studio-photographer/js/jquery-2.1.4.min.js}"></script><!-- jQuery library -->
<script th:src="@{/studio-photographer/js/bootstrap.min.js}"></script>
<script th:src="@{/studio-photographer/js/wow.min.js}"></script>
<script th:src="@{/studio-photographer/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/studio-photographer/js/typed.js}"></script>
<script th:src="@{/studio-photographer/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/studio-photographer/js/main.js}"></script>
<!--    <script th:src="@{/js/infobox.js}"></script>-->
<script th:src="@{/js/modernizr.js}"></script>

</body>
</html>