<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="pattern_dots">
            <div class="container margin_60_45">
                <div class="main_title">
                    <h2><strong>Most Viewed</strong> in TravelGuide</h2>
                    <p>
                        Ne his postulant posidonium adversarium. Ius tollit tamquam indoctum ea, cu quo equidem perfecto
                        adipiscing. Eu mel aliquid delenit. Recteque laboramus ea est, te qui eirmod similique.
                    </p>
                    <span><em></em></span>
                </div>
                <!-- End main_title -->

                <div class="row">
                    <div class="col-md-8">
                        <div class="img_wrapper_grid">
                            <div class="ribbon">
                                <span>Popular</span>
                            </div>
                            <div class="tools_i">
                                <form action="http://maps.google.com/maps" method="get" target="_blank"
                                    class="directions_list">
                                    <input type="hidden" name="daddr" value="43.773460, 11.255985">
                                    <button type="submit" class="tooltip_styled tooltip-effect-4">
                                        <span class="tooltip-item"></span>
                                        <span class="tooltip-content">Directions</span>
                                    </button>
                                </form>
                                <div class="wishlist">
                                    <a class="tooltip_styled tooltip-effect-4"><span class="tooltip-item"></span>
                                        <div class="tooltip-content">Bookmark</div>
                                    </a>
                                </div>
                            </div>
                            <!-- End tools i-->
                            <div class="img_container_grid">
                                <a href="florence-must-see-detail.html">
                                    <img th:src="@{/img/grid_home_1.jpg}" width="800" height="480"
                                        class="img-responsive" alt="">
                                    <div class="short_info_grid">
                                        <small><strong>Duration: 90 min.</strong></small>
                                        <h3>Duomo Cathedral</h3>
                                        <em>Historic Buildings</em>
                                        <p>
                                            Read more
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End img_wrapper_grid -->
                    </div>
                    <div class="col-md-4">
                        <div class="img_wrapper_grid">
                            <div class="ribbon">
                                <span>Popular</span>
                            </div>
                            <div class="tools_i">
                                <form action="http://maps.google.com/maps" method="get" target="_blank"
                                    class="directions_list">
                                    <input type="hidden" name="daddr" value="43.773460, 11.255985">
                                    <button type="submit" class="tooltip_styled tooltip-effect-4">
                                        <span class="tooltip-item"></span>
                                        <span class="tooltip-content">Directions</span>
                                    </button>
                                </form>
                                <div class="wishlist">
                                    <a class="tooltip_styled tooltip-effect-4"><span class="tooltip-item"></span>
                                        <div class="tooltip-content">Bookmark</div>
                                    </a>
                                </div>
                            </div>
                            <!-- End tools i-->
                            <div class="img_container_grid">
                                <a href="florence-must-see-detail.html">
                                    <img th:src="@{/img/grid_home_3.jpg}" width="800" height="468"
                                        class="img-responsive" alt="">
                                    <div class="short_info_grid">
                                        <small><strong>Duration: 60 min.</strong></small>
                                        <h3>Santa Maria Novella</h3>
                                        <em>Monuments - Attractions</em>
                                        <p>
                                            Read more
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End img_wrapper_grid -->
                        <div class="img_wrapper_grid">
                            <div class="ribbon">
                                <span>Popular</span>
                            </div>
                            <div class="tools_i">
                                <form action="http://maps.google.com/maps" method="get" target="_blank"
                                    class="directions_list">
                                    <input type="hidden" name="daddr" value="43.773460, 11.255985">
                                    <button type="submit" class="tooltip_styled tooltip-effect-4">
                                        <span class="tooltip-item"></span>
                                        <span class="tooltip-content">Directions</span>
                                    </button>
                                </form>
                                <div class="wishlist">
                                    <a class="tooltip_styled tooltip-effect-4"><span class="tooltip-item"></span>
                                        <div class="tooltip-content">Bookmark</div>
                                    </a>
                                </div>
                            </div>
                            <!-- End tools i-->
                            <div class="img_container_grid">
                                <a href="florence-hotel-detail.html">
                                    <img th:src="@{/img/grid_home_2.jpg}" width="800" height="468"
                                        class="img-responsive" alt="">
                                    <div class="short_info_grid">
                                        <small><strong>From 95$</strong></small>
                                        <h3>Hotel Mariott</h3>
                                        <em>Hotels</em>
                                        <p>
                                            Read more
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End img_wrapper_grid -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="img_wrapper_grid">
                            <div class="ribbon top">
                                <span>Top rated</span>
                            </div>
                            <div class="tools_i">
                                <form action="http://maps.google.com/maps" method="get" target="_blank"
                                    class="directions_list">
                                    <input type="hidden" name="daddr" value="43.773460, 11.255985">
                                    <button type="submit" class="tooltip_styled tooltip-effect-4">
                                        <span class="tooltip-item"></span>
                                        <span class="tooltip-content">Directions</span>
                                    </button>
                                </form>
                                <div class="wishlist">
                                    <a class="tooltip_styled tooltip-effect-4"><span class="tooltip-item"></span>
                                        <div class="tooltip-content">Bookmark</div>
                                    </a>
                                </div>
                            </div>
                            <!-- End tools i-->
                            <div class="img_container_grid">
                                <a href="florence-restaurant-detail.html">
                                    <img th:src="@{/img/grid_home_4.jpg}" width="800" height="468"
                                        class="img-responsive" alt="">
                                    <div class="short_info_grid">
                                        <small><strong>From 30$</strong></small>
                                        <h3>Da Domenico</h3>
                                        <em>Restaurant</em>
                                        <p>
                                            Read more
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End img_wrapper_grid -->
                    </div>
                    <div class="col-md-4">
                        <div class="img_wrapper_grid">
                            <div class="ribbon top">
                                <span>Top rated</span>
                            </div>
                            <div class="tools_i">
                                <form action="http://maps.google.com/maps" method="get" target="_blank"
                                    class="directions_list">
                                    <input type="hidden" name="daddr" value="43.773460, 11.255985">
                                    <button type="submit" class="tooltip_styled tooltip-effect-4">
                                        <span class="tooltip-item"></span>
                                        <span class="tooltip-content">Directions</span>
                                    </button>
                                </form>
                                <div class="wishlist">
                                    <a class="tooltip_styled tooltip-effect-4"><span class="tooltip-item"></span>
                                        <div class="tooltip-content">Bookmark</div>
                                    </a>
                                </div>
                            </div>
                            <!-- End tools i-->
                            <div class="img_container_grid">
                                <a href="florence-bar-detail.html">
                                    <img th:src="@{/img/grid_home_5.jpg}" width="800" height="468"
                                        class="img-responsive" alt="">
                                    <div class="short_info_grid">
                                        <small><strong>From 20$</strong></small>
                                        <h3>La Grotta Pub</h3>
                                        <em>Bar - Pun</em>
                                        <p>
                                            Read more
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End img_wrapper_grid -->
                    </div>
                    <div class="col-md-4">
                        <div class="img_wrapper_grid">
                            <div class="ribbon top">
                                <span>Top rated</span>
                            </div>
                            <div class="tools_i">
                                <form action="http://maps.google.com/maps" method="get" target="_blank"
                                    class="directions_list">
                                    <input type="hidden" name="daddr" value="43.773460, 11.255985">
                                    <button type="submit" class="tooltip_styled tooltip-effect-4">
                                        <span class="tooltip-item"></span>
                                        <span class="tooltip-content">Directions</span>
                                    </button>
                                </form>
                                <div class="wishlist">
                                    <a class="tooltip_styled tooltip-effect-4"><span class="tooltip-item"></span>
                                        <div class="tooltip-content">Bookmark</div>
                                    </a>
                                </div>
                            </div>
                            <!-- End tools i-->
                            <div class="img_container_grid">
                                <a href="florence-shop-detail.html">
                                    <img th:src="@{/img/grid_home_6.jpg}" width="800" height="468"
                                        class="img-responsive" alt="">
                                    <div class="short_info_grid">
                                        <h3>Shopping Mall</h3>
                                        <em>Shop</em>
                                        <p>
                                            Read more
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End img_wrapper_grid -->
                    </div>
                </div>
            </div>
            <!-- End container -->
        </div>
    </section>
</body>

</html>