<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Promotion</title>
    <style>
        div {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Promotion detail</h1>
<div>
    <div>
        Id: <span th:text="${promotion.id}"></span>
    </div>
    <div>
        Name: <span th:text="${promotion.name}"></span>
    </div>
    <div>
        Description: <span th:text="${promotion.description}"></span>
    </div>
    <div>
        Thumbnail: <span th:text="${promotion.discount}">
    </div>
    <div>
        Products in this Promotion:
        <ul>
            <li th:each="product : ${products}">
                <a th:href="@{'/product/' + ${product.id}}" th:text="${product.name}"></a>
            </li>
        </ul>
        </span>
    </div>
    <div>
        Status: <span th:text="${promotion.status}"></span>
    </div>
    <div>
        <a th:href="@{/promotion/list}">Back to list</a>
    </div>
</div>
</body>
</html>