<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Promotion</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

    <h1>Edit Promotion</h1>

    <form th:action="@{'/promotion/edit' + ${promotion.id}}" th:method="post" th:object="${promotion}">
        <div>
            Name <input type="text" th:field="*{name}">
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            Description <textarea type="text" th:field="*{description}"></textarea>
            <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>
        <div>
            Discount <input type="number" th:field="*{discount}">
            <span class="error" th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"></span>
        </div>
        <div>
            Select Products by Category
            <select name="categoryId">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div>
            Status <input type="number" th:field="*{status}">
            <span class="error" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
        </div>
        <div>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>
</body>
</html>